.t_5f4{color:#5f4e95}
.t_7a7{color:#7a7295}
.t_395{color:#395142}
.t_395{color:#395142}
.t_7f8{color:#7f8481}
.t_fff{color:#fff}
.t_395{color:#395142}
.font1{font-size:1.2em}
.umw2{width:2em}
.umw4{width:4em;}
.umw45{width:4.5em;}
.uc_a5{-webkit-border-radius:4.5em}
.umh4{height:4em}
.umh5{height:5em}
.umh6{height:6em}
.umh45{height:4.5em}
.umh10{height:10em}
.umh15{height:15em}
.umh8{height:8em}
.umw_min{min-width:2em;}
.tip_r{width:.8em;height:.8em;background-color:#f1efec;-webkit-transform:rotate(45deg);position:absolute; right:-.3em; top:.8em;z-index: 99}
.tip_name{width:100%;height:2em; line-height: 2em;position: absolute;z-index: 99;padding-left: .6em}
.tip_sjx{width:1em;height:1em;background-color:#a093b8;position: absolute;z-index: 88;top:50%;margin-left:-1em; margin-top:-.5em; -webkit-transform:rotate(45deg)}
.tip_top{width:100%;height:2.5em;position: absolute;z-index:11}
.tip_down{width:100%;bottom:1em;position: absolute;z-index:22}
.icon_zx{width:2.2em;height:1.8em;right:0;bottom:.2em;position:absolute;z-index:22;background:url(../images/icon_zx.png) no-repeat;background-size:2.2em 1.8em}
.div_con{width:3em;height:3em;position:absolute; line-height:3em;text-align:center;margin:-1.5em 0 0 -1.5em;left: 50%;top:50%; z-index: 99;}
/***背景色***/
.c_80c{background-color:#80c3d3}
.c_5f4{background-color:#5f4e95}
.c_fff{background-color:#fff}
.c_e7e{background-color:#e7ebec}
.c_968{background-color:#968fb5}
.c_f8e{background-color:#f8eee1}
.c_f1e{background-color:#f1efec}
.c_dfe{background-color:#dfe8ec}
.c_a09{background-color:#a093b8}
/***边框颜色***/
.b_412{border-color:#412e58}
.b_5f4{border-color:#5f4e95}
.b_bec{border-color:#bec6c3}
.uba3{border-style:4px solid}
.ubb_d{border-bottom:1px #b1b1b1 dashed}
.ubr_d{border-right:1px #b1b1b1 dashed}
.ubt_d{border-top:1px #b1b1b1 dashed}
.ubbt_d{border-tOP:1px #fff solid;border-bottom:1px #bec6c3 solid}
/***间距***/
.uinn_a06{padding:.6em}
.uinn_ab6{padding:.6em .6em 0}
.umar_l02{margin-left:.2em}
.umar_t02{margin-top:.2em}
.uinn_ab03{padding:.3em 0}
.uinn_a08{padding:.8em}
.fx_div{background:rgba(0,0,0,.5);padding:.3em .4em}
/***背景图片***/
.add_icon{width:1.8em;height:1.8em;background:url(../images/icon_add.png) no-repeat;background-size:1.8em 1.8em}
.tip_lian{width:1.2em;height:1.2em;background:url(../images/icon_lian.png) no-repeat;background-size:1.2em 1.2em;position: absolute;z-index: 33; right:.6em;margin-top:-1.4em}
.tab_one{width:1.8em;height:1.8em;background:url(../images/tab_one.png) no-repeat;background-size:1.8em 1.8em}
.tab_two{width:1.8em;height:1.8em;background:url(../images/tab_two.png) no-repeat;background-size:1.8em 1.8em}
.tab_three{width:1.8em;height:1.8em;background:url(../images/tab_three.png) no-repeat;background-size:1.8em 1.8em}
.icon_one{width:2em;height:2em;background:url(../images/icon_one.png) no-repeat;background-size:2em 2em}
.tip_one{width:1.2em;height:1.2em;background:url(../images/tip_one.png) no-repeat;background-size:1.2em 1.2em}
.tip_two{width:1.2em;height:1.2em;background:url(../images/tip_two.png) no-repeat;background-size:1.2em 1.2em}
.tip_three{width:1.2em;height:1.2em;background:url(../images/tip_three.png) no-repeat;background-size:1.2em 1.2em}
.tip_four{width:1.2em;height:1.2em;background:url(../images/tip_four.png) no-repeat;background-size:1.2em 1.2em}
.icon_laba{width:2.2em;height:2.2em;background:url(../images/icon_laba.png) no-repeat;background-size:2.2em 2.2em}
.d_one{width:1.6em;height:1.6em;background:url(../images/d_one.png) no-repeat;background-size:1.6em 1.6em}
.d_two{width:1.6em;height:1.6em;background:url(../images/d_two.png) no-repeat;background-size:1.6em 1.6em}
.d_three{width:1.6em;height:1.6em;background:url(../images/d_three.png) no-repeat;background-size:1.6em 1.6em}
.tp_icon{width:1.5em;height:1.5em;background:url(../images/tp_icon.png) no-repeat;background-size:1.5em 1.5em}
.fx_icon{width:1.5em;height:1.5em;background:url(../images/fx_icon.png) no-repeat;background-size:1.5em 1.5em}
.icon_pic{width:1.6em;height:1.6em;background:url(../images/icon_pic.png) no-repeat;background-size:1.6em 1.6em}
.icon_ren{width:1.8em;height:1.6em;background:url(../images/icon_ren.png) no-repeat;background-size:1.8em 1.6em;}
.big_c{width:16em;height:16em;background:url(../images/big_c.png) no-repeat center;background-size:16em 16em;}
.big_one{width:16em;height:16em;background:url(../images/big_one.png) no-repeat center;background-size:16em 16em;}
.big_two{width:16em;height:16em;background:url(../images/big_two.png) no-repeat center;background-size:16em 16em;}
.big_three{width:16em;height:16em;background:url(../images/big_three.png) no-repeat center;background-size:16em 16em;}


.pie {
	 width:16em; height:16em; background-color:#1eccce;
	 border-radius:8em;
	 position:absolute; clip:rect(0px,16em,16em,8em);
	 -webkit-transform:rotate(-60deg);
	  
	}
.pie1 {
	 width:16em; height:16em; background-color:#e1cb33;
	 border-radius:8em;
	 position:absolute; clip:rect(0px,16em,16em,8em);
	 -webkit-transform:rotate(240deg);
	}
	.pie2 {
	 width:16em; height:16em; background-color:#f94dae;
	 border-radius:8em;
	 position:absolute; clip:rect(0px,16em,16em,8em);
	  -webkit-transform: rotate(60deg);
	}
	.pie3 {
	 width:16em; height:16em; background-color:#e1cb33;
	 border-radius:8em;
	 position:absolute; clip:rect(8em,16em,16em,8em);
	 -webkit-transform:rotate(-180deg);
	}
.hold {
	 width:16em; height:16em;
	 position: relative;
	 -webkit-border-radius:16em;
	 border:4px #f0e9fd solid;
	}
.heti{-webkit-box-shadow:0px 0px 6px #f0e9fd;z-index:9999;width:5em;height:5em;line-height:5em;text-align:center;-webkit-border-radius: 5em;background-color:#fff; position:absolute; top:50%;left:50%;margin: -2.5em 0 0 -2.5em;}
