---
layout: page
title : WebSite
group: navigation
info: Tech
---
{% include JB/setup %}
<div class="ui-link">
    <style type="text/css">
          .ui-link-nav{
              height:30px;
              line-height:30px;
          }
          .ui-link-nav li{
              float:left;
              display: inline;
              padding:0 20px;
          }
    </style>
     <ul class="ui-link-nav">
         <li>Tech</li>
         <li>html5</li>
         <li>CSS3</li>
         <li>JS</li>
         <li>Life</li>
         <li>CSSer</li>
     </ul>
    <div class="ui-link-nav-cnt">
        {% include website/Js %}
    </div>
</div>



