.ui-main-box {
    width: 700px;
    float: left;
    border-right:1px solid #eee;
    padding-right:20px;
}
.ui-main-box-cnt{
    /*height:100px;*/
    margin-left:10px;
}


.ui-aside {
    float: right;
    width: 230px;
}

 h3 {
    font-size: 16px;
    margin-top: 10px;
    border-bottom: 3px double #DDDDDD;
    color: #2566A0;
    line-height: 24px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.5), 1px 1px 1px rgba(100, 100, 100, 0.8);
}
h4 {
    font-size: 14px;
    margin-top: 10px;
    color: #aaa;
    line-height: 24px;
    margin-bottom: 15px;
}
  /* books */
 .books{
    margin-bottom: 15px;
 }
  .books ol li {
      font-size:14px;
      margin-bottom:10px;
      color: #aaa;
  }

.aside-box {
    padding-left: 15px;

}

.aside-box ul li {
    margin-bottom: 5px;
    background: url("../images/icons.png") 0 0 no-repeat transparent;
    padding-left: 25px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
}

.aside-box ul li a {
    color: #AAAAAA;
    font: italic 15px Tahoma, Arial, Helvetica, "SimSun", "Arial Narrow", Geneva, sans-serif;
    padding: 3px 0 3px 0;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

.aside-box ul li a:hover {
    color: #068abe;
}

.aside-box ul li.t_qq {
    background-position: 0 -440px;
}

.aside-box ul li.t_sina {
    background-position: 0 -542px;
}

.aside-box ul li.qq {
    background-position: 0 -498px;
}

.aside-box ul li.qqv {
    background-position: 0 0;
}

.aside-box ul li.email {
    background-position: 0 -97px;
}
