/* kie ie6 */
.kie-bar {
    height: 24px;
    line-height: 1.8;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #fce4b5;
    background-color: #FFFF9B;
    color: #e27839;
    position: relative;
    font-size: 14px;
    text-shadow: 0px 0px 1px #efefef;
    padding: 5px 0;
}

.kie-bar a {
    color: #08c;
    text-decoration: none;
}