html {
    overflow: -moz-scrollbars-vertical;
    min-height: 101%;
}

a {
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}

/* 字体 */
.ft-red {
    color: #d34c4d;
}

body {
    background-color: #F1F1F1;
    font: 13px/normal "微软雅黑",Helvetica,Arial,sans-serif;
    color: rgb(102, 102, 102);
    font-size-adjust: none;
    font-stretch: normal;
    min-height: 100px;
    height: auto !important;
    height: 100px;
}

.ui-container {
}

.ui-header {
    padding: 20px 0 0 0;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    z-index: 9999;
}

.ui-header-content {
    width: 1140px;
    margin: 0 auto;
}

.ui-header-content .logo {
    font-size: 36px;
    padding-top: 10px;
    color: #333;
    -moz-text-shadow: 1px 1px 3px #666;
    -webkit-text-shadow: 1px 1px 3px #666;
    text-shadow: 1px 1px 3px #666;

}
.ui-header-content .logo a:hover{
    text-decoration: none;
}

.ui-header-content .blessing {
    margin-top: 5px;
}

.ui-gloable-search {
    width: 430px;

}

.ui-gloable-search .ui-tab-content {
    background-color: #0782C0;
    padding: 5px 3px 5px 5px;
    height: 30px;
    _overflow: hidden;
    _height: 32px;
}

.ui-meta-left {
    height: 30px;
    float: left;
    display: inline;

}

.ui-meta-right {
    height: 30px;
    float: right;
    display: inline;
    cursor: pointer;
    margin-right: 4px;
}

.ui-arrow {
    width: 0;
    height: 0;
    position: absolute;
    right: 3px;
    top: 14px;
    font-size: 0;
    line-height: 0;
    border-width: 8px;
    border-color: #080 transparent transparent;
    border-style: solid dashed dashed;
    background-color: transparent;
    -webkit-transition: -webkit-transform .2s ease-in;
    -webkit-backface-visibility: hidden;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}

.ui-arrow-hover {
    border-color: transparent transparent #080;
    border-style: dashed dashed solid;
    background-color: transparent;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 2);
}

.ui-input-text {
    padding: 5px;
    border: 1px solid #ccc;
    width: 295px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    background-color: #fff;
}

.ui-input-button {
    border: none;
    outline: none;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    color: #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 102px;
    height: 30px;
    _padding-top: 4px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

input.ui-input-button:focus {
    border: none;
    outline: none;
}

.searh-menu li {
    position: relative;
    z-index: 999999;
    width: 102px;
}

.searh-menu .searh-more {
    overflow: hidden;
    clear: both;
    line-height: 29px;
    font-size: 14px;
    position: relative;
}

.searh-menu .searh-more-hd {
    border: 1px solid #eee;
    left: 0px;
    top: 30px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    background-color: #fff;
    z-index: 9999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.searh-menu .searh-more-hd .ui-input-button {
    border: 0 none;
    background-color: #fff;
    color: #4d4d4d;
    width: 100px;
}

.searh-menu .searh-more-hd .ui-input-button-hover {
    border: 1px solid #aaa;
    background-color: #eee;
    color: #2566A0;
}

.ui-gloable-search .ui-tab-trigger {
    margin-left: 5px;
    height: 30px;
}

.ui-gloable-search .ui-tab-trigger-item {
    padding-left: 10px;
    line-height: 30px
}

.ui-gloable-search .ui-tab-trigger-item span {
    padding-right: 10px;
}

.ui-gloable-search .ui-tab-trigger-item-current {
    background-color: #0782C0;
    bottom: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-gloable-search .ui-tab-trigger-item-current span {
    color: #fff;
}

.ui-nav-box{
    background-color: #02537E;
}
 .ui-nav{
     width:1140px;
     margin:0 auto;
     height: 60px;
     line-height: 60px;
 }
.ui-nav .ui-nav-item{
    float:left;
    display: inline;
    margin:0 2px;
    color: #DCF3FF;
    font-size: 14px;
    cursor: pointer;
}

.ui-nav .ui-nav-item-hover,
.ui-nav .ui-nav-item-current{
    background-color: #0782C0;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
}
.ui-nav .ui-nav-item a{
    display:block;
    height:60px;
    line-height: 60px;
    padding:0 30px;
    color:#fff;
    text-decoration: none;
}
.ui-nav .ui-nav-item-hover a,
.ui-nav .ui-nav-item-current a{
    background-color: #0782C0;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
}
.ui-content {
    padding:10px;
    width: 1120px;
    margin: 20px auto 0;
    background-color:#fff;
    overflow: hidden;
}

.ui-content .ui-title {
    border-bottom: 2px double #DDDDDD;
    margin-bottom: 10px;
    padding: 10px 0 5px 10px;
}

.ui-content .ui-title h2 {
    color: #333333;
    font-size: 18px;
    line-height: 18px;
    margin: 3px 0;
}

.ui-content .ui-list .ui-list-item {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    display: inline;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 5px 10px;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
}
.ui-content .ui-list .ui-list-item a{
    color:#333;
}
.ui-main{
    width:800px;
    padding-right:5px;
    float:left;
    display:inline;
    margin-bottom:-10000px;
    padding-bottom:10000px;
}
.ui-aside{
    float:right;
    display:inline;
    width:295px;
    padding:0 0 0 10px;
    border-left: 3px double #DDDDDD;
    margin-bottom:-10000px;
    padding-bottom:10000px;
}
.ui-footer {
    background: #303030;
    clear: both;
    margin: 20px 0 0 0;
    width: 100%;
}

.ui-fotter-content {
    width: 1140px;
    margin: 10px auto 0;
    color: #666;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.ui-copyright {

}

.ui-gotop {

}
.page-header{
    background:none repeat scroll 0 0 #0088CC;
    padding:10px 0 0px 10px;
    border-radius:5px 5px 5px 5px;
    margin:0 0 18px 0;
}

h2.archive-year,
h2.categories-sort,
h2.tags-sort{
    background-color: #F2F8F7;
    color: #777777;
    font-size: 20px;
    line-height: 35px;
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: normal;
}
h2.categories-sort,
h2.tags-sort{
    padding-left:10px;
    text-align: left;
}
h3.archive-month{
    font-size:14px;
    padding:0 0 2px 0;
    border-bottom: 1px solid #F2F8F7;
}
.categories-article,
.tags-article{
    list-style: decimal;
    list-style-position: inside;
    margin-bottom:10px;
}
.categories-article .ui-nav-item,
.tags-article .ui-nav-item{
    font-size:14px;
    padding:0 0 2px 10px;
    list-style-type: decimal ;
}
.archive-list{
    margin:5px 10px 15px 10px;
}
.archive-list-item{
   margin:5px 0;
   list-style-type: decimal;
   list-style-position: inside;
   font-size:14px;

}
.page-header h3,
.page-header h4{
    color:#fff;
}

.nav-pills > li > a {
    font-size:14px;
    font-weight:bold;
}

a.home{
    background-color: #0782C0;text-decoration:none;border-radius: 2px 2px 2px 2px;color: #FFFFFF; padding:0 30px;height:60px; display: block;font-size:14px;
}

.dsq-widget-comment p{
    height:18px;
    overflow: hidden;
    display:block;
}