body {
    background-color: #fff;
}

.ui-container {
    margin: 0 auto;
    font-size: 12px;
    font-family: "SimSun", arial narrow, helvetica, sans-serif;
    text-align: center;
}

header {
    width: 100%;
}

.ui-header {
    border-top: 6px solid #82bf41;
    padding: 10px 0;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 100%;
    text-align:left;
}

.ui-header .logo {
    -moz-box-flex: 6;
    -webkit-box-flex: 6;
    box-flex: 6;
    padding: 0 10px;
}

.ui-header .logo img{
    width: 120px;
}
.ui-header .ui-search {
    -moz-box-flex: 2;
    -webkit-box-flex: 2;
    box-flex: 2;
}
.ui-header .ui-search img {
    width: 20px;
}

.ui-header .ui-cart {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 0 10px;
}
.ui-header .ui-cart img{
    width: 20px;
}
.ui-header .ui-nav {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 0 10px;
}
.ui-header .ui-nav img{
    width: 20px;
}

/* ui-banner */
.ui-banner {
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: 640px;
}

.ui-swipe-new {
    float: left;
    list-style: none outside none;
    overflow: hidden;
    position: relative;
    visibility: visible;
}

.ui-swipe-new .ui-banner-list {
    left: 0;
    position: relative;
    width: 3200px;
}

.ui-swipe-new .ui-banner-list li {
    display: table-cell;
    float: left;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.ui-swipe-new .ui-banner-list li a img {
    display: block;
    width: 100%;
}

.ui-swipe-new .ui-banner-list li a i {
    bottom: 0;
    color: #fff;
    font: 14px/28px "\5fae\8f6f\96c5\9ed1";
    height: 28px;
    left: 0;
    padding-left: 10px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.ui-banner-dot {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
}

.ui-banner-dot a {
    background: none repeat scroll 0 0 #b0b0b0;
    border-radius: 14px;
    display: inline-block;
    height: 14px;
    width: 14px;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

.ui-banner-dot a.active {
    background: none repeat scroll 0 0 #000000;
}

/* ui-title */

.ui-title {
    width: 95%;
    height: 40px;
    margin: 13px auto;
    position: relative;
    background-color: #94c758;
}

.ui-title .hr {
    position: absolute;
    width: 90%;
    height: 3px;
    top: 20px;
    left: 5%;
    background-color: #fff;
}

.ui-title .title {
    width: 70%;
    position: absolute;
    left: 10%;
    top: 8px;
    font-size: 18px;
    color: #fff;
    padding: 0 5%;
    text-align: center;
    background-color: #94c758;
}

/* ui-figure */

.ui-figure {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 95%;
}

.ui-figure figure {
    border-bottom: 2px solid #b8b8b8;

}

.ui-figure .ui-figure-item {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: left;
    padding: 0 10px;
    margin: 0 10px;
}

.ui-figure img {
    width: 140px;
    height: 140px;
}

.ui-figure .figure-text {
    padding: 4px;
    color: #a0ca27;
    font-size: 14px;
    font-family: arial narrow, helvetica, sans-serif;
}

.ui-figure .figure-info {
    padding: 0 0 4px 4px;
    color: #262626;
    font-size: 14px;
}

/* ui-text */

.ui-text-box {
    width: 95%;
    height: 40px;
    margin: 13px auto;
    position: relative;
}

.ui-text-box .ui-text-dot {
    position: absolute;
    width: 80%;
    border-top: 3px dotted red;
    top: 20px;
    left: 10%;
}

.ui-text-box .ui-text {
    width: 50%;
    position: absolute;
    left: 20%;
    top: 8px;
    font-size: 18px;
    color: #fff;
    padding: 0 5%;
    text-align: center;
    background-color: #fff;
}

.ui-text-box a {
    font-size: 16px;
    color: #ef6130;
    text-decoration: none;
    text-align: center;
}

/* ui-graphic-item */

.ui-graphic-item {
    width: 95%;
    border-bottom: 1px solid #979797;
    padding: 4px 0 15px;
    margin: 0 auto 15px;
    position: relative;

}

.ui-graphic-item img {
    display: block;
    margin-right: 10px;
    float: left;
    width: 60px;
    height: 60px;
}

.ui-graphic-item .graphic-text {
    float: left;
    width: 70%;
    text-align: left;

}

.ui-graphic-item .graphic-text h2 {
    color: #000;
    font-size: 14px;
    padding: 5px 0 10px;
}

.ui-graphic-item .graphic-text p {
    font-size: 12px;
    color: #888888;
}

.ui-graphic-item span.ui-arrow {
    width: 16px;
    height: 26px;
    display: block;
    background: url(../images/arrow.png) 0 0 no-repeat transparent;
    margin-top: 15px;
    position: absolute;
    right: 0;

}

/* ui-grape-item */

.ui-grape-item {
    width: 95%;
    background-color: #fbfbf1;
    margin: 0 auto 13px;
}

.ui-grape-item .ui-circle {
    height: 32px;
    clear: both;
    background: url(../images/circle.png) 0 center repeat-x transparent;
}

.ui-grape-item figure {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    text-align: left;
}

.ui-grape-item .ui-grape-img {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin-right: 10px;
}
.ui-grape-item img {
    width: 120px;
    height:120px;
}



.ui-grape-item .ui-grape-text {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: left;
}

.ui-grape-item h2 {
    font-size: 16px;
    color: #4d932c;
}

.ui-grape-item h4 {
    font-size: 12px;
    color: #929292;
    margin-bottom: 10px;
}

.ui-grape-item p {
    font-size: 12px;
    color: #000;
    line-height: 1.5;
}

.ui-master {
    width: 95%;
    margin: 0 auto;
}

.ui-master h3 {
    font-size: 18px;
    color: #4d932c;
    text-align: left;
}

.ui-master-list {
    background-color: #fff;
    padding: 10px 0;
}

.ui-master-list li {
    margin: 5px;
    float: left;
}

.ui-master-list li img {
    border-radius: 100;
    width: 50px;
}

.ui-brand {
    width: 95%;
    text-align: center;
    margin-bottom: 26px;
    margin: 0 auto 26px;
}

.ui-brand img {
    margin-bottom: 20px;
}

.ui-brand p {
    color: #777;
    font-size: 14px;
    line-height: 1.5;

}

/* ui-footer */

.ui-footer {
    background-color: #4d4d4d;
}

.ui-footer-links {
    padding: 10px 5px;
    text-align: center;
    line-height: 23px;
}

.ui-copyright {
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 18px;
    color: #8f8f8f;
    text-align: center;
    padding: 5px 0 10px 0;
}

.ui-copyright span {
    font-family: "SimSun", arial narrow, helvetica, sans-serif;
}

.ui-footer-links .tmall-link,
.ui-footer-links .wxin-link,
.ui-footer-links .jd-link {
    display: inline-block;
}

.ui-footer-links .tmall-link a,
.ui-footer-links .wxin-link a,
.ui-footer-links .jd-link a {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}

.ui-footer-links .tmall-link img {
    width: 18px;
    margin-right: 3px;
}

.ui-footer-links .wxin-link img {
    width: 24px;
    margin-right: 3px;
}

.ui-footer-links .jd-link img {
    width: 18px;
    margin-right: 3px;
}

@media screen and (max-width: 320px) {

}