body {
    background-color: #fff;
}

body a,
body a:hover{
    text-decoration: none;
}
.ui-container {
    margin: 0 auto;
    font-size: 12px;
    font-family: "SimSun", arial narrow, helvetica, sans-serif;
    text-align: center;
}

.ui-header {
    border-top: 6px solid #82bf41;
    padding: 5px 0;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 30px;
    z-index: 1;
    background-color: #fff;
}

.mob-helper {
    display:none;
    opacity: 0;
    transition: opacity 200ms ease-out 0s;
}
.mob-helper.active {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.ui-header .logo {
    -moz-box-flex: 3;
    -webkit-box-flex: 3;
    box-flex: 3;
    padding: 0 10px;
}

.ui-header .channel {
    -moz-box-flex: 3;
    -webkit-box-flex: 3;
    box-flex: 3;
    padding: 0 10px;
    font-size: 18px;

}

.ui-header .channel .sub-chanel {
    color: #4d932c;
}

.ui-header .channel .sub-info {
    color: #000000;

}

.ui-header .channel .fn-bar {
    color: #9b9b9b;
    padding: 0 5px;
}

.ui-header .logo img {
    width: 60px;
}

.ui-header .ui-nav {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 0 10px;
}

.ui-header .ui-nav img {
    width: 20px;
    margin-top:5px;
}

.ui-header .ui-account {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 0 10px;
}

.ui-header .ui-account img {
    width: 23px;
    margin-top:5px;
}

.ui-return{
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align:left;
    padding-left:10px;
}
.ui-return img{
    padding-right:5px;
    width:16px;
    vertical-align: middle;
}

.ui-return a{
    font-size:18px;
    color:#9b9b9b;
    font-weight: bold;
}

.ui-comment,
.ui-favorites,
.ui-get-go{
    width:40px;
    padding:0 10px;
}

.ui-comment img,
.ui-favorites img{
    width:30px;
}
.ui-get-go img{
    width:23px;
}

.ui-title-hd{
    border-left:6px solid #82bf41;
    font-size:16px;
    color:#000;
    text-align:left;
    padding-left:5px;
    margin:20px 0;
    font-weight: bold;
}

.ui-hd-text{
    width:90%;
    margin:0 auto;
    font-size:14px;
    text-align:left;
}
.fn-mt60{
    margin-top:60px;
}
/* ui-banner */
.ui-banner {
    margin: 0 auto 0;
    position: relative;
    text-align: center;
    max-height: 300px;
    max-width: 640px;
    overflow: hidden;
}

.ui-swipe-new {
    list-style: none outside none;
    position: relative;
    visibility: visible;
    width: 3200px;
    overflow: hidden;
}

.ui-swipe-new .ui-banner-list {
    position: relative;
}

.ui-swipe-new .ui-banner-list li {
    position: relative;
    vertical-align: top;
    float: left;
}

.ui-swipe-new .ui-banner-list li a {
    display: block;
    width: 100%;
    height: 100%;
}

.ui-banner-dot {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
}

.ui-banner-dot a {
    background: none repeat scroll 0 0 #b0b0b0;
    border-radius: 14px;
    display: inline-block;
    height: 14px;
    width: 14px;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

.ui-banner-dot a.active {
    background: none repeat scroll 0 0 #000000;
}

/* ui-title */

.ui-title {
    width: 95%;
    height: 40px;
    margin: 13px auto;
    position: relative;
    background-color: #94c758;
}

.ui-title .hr {
    position: absolute;
    width: 90%;
    height: 3px;
    top: 20px;
    left: 5%;
    background-color: #fff;
}

.ui-title .title {
    width: 70%;
    position: absolute;
    left: 10%;
    top: 8px;
    font-size: 18px;
    color: #fff;
    padding: 0 5%;
    text-align: center;
    background-color: #94c758;
}

/* ui-figure */

.ui-figure {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    width: 95%;
    margin: 0 auto;
}

.ui-figure figure {

}

.ui-figure .ui-figure-item {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: left;
    margin: 0 10px;
    border: 1px solid #eee;
    /*box-shadow: 0 2px 2px #333;*/
}

.ui-figure .figure-text {
    padding: 4px;
    color: #a0ca27;
    font-size: 16px;
    font-family: arial narrow, helvetica, sans-serif;
}

.ui-figure .figure-info {
    padding: 0 0 4px 4px;
    color: #262626;
    font-size: 14px;
}

/* ui-text */

.ui-text-box {
    width: 95%;
    height: 40px;
    margin: 13px auto;
    position: relative;
}

.ui-text-box .ui-text-dot {
    position: absolute;
    width: 80%;
    border-top: 3px dotted red;
    top: 20px;
    left: 10%;
}

.ui-text-box .ui-text {
    width: 50%;
    position: absolute;
    left: 20%;
    top: 8px;
    font-size: 18px;
    color: #fff;
    padding: 0 5%;
    text-align: center;
    background-color: #fff;
}

.ui-text-box a {
    font-size: 16px;
    color: #ef6130;
    text-decoration: none;
    text-align: center;
}

/* ui-graphic-item */

.ui-graphic-item {
    width: 95%;
    border-bottom: 1px solid #979797;
    padding: 4px 0 15px;
    margin: 0 auto 15px;
    position: relative;
}

body .no-border-bottom{
    border-bottom:none;
}
.ui-graphic-item img {
    display: block;
    margin-right: 10px;
    float: left;
    width: 60px;
    height: 60px;
}

.ui-graphic-item .graphic-text {
    float: left;
    width: 70%;
    text-align: left;

}

.ui-graphic-item .graphic-text h2 {
    color: #000;
    font-size: 14px;
    padding: 5px 0 10px;
}

.ui-graphic-item .graphic-text p {
    font-size: 12px;
    color: #888888;
}
.ui-graphic-item span.like{
    color:#ef6130;
    padding-right:5px;
}

.ui-graphic-item span.ui-arrow {
    width: 16px;
    height: 26px;
    display: block;
    background: url(../images/arrow.png) 0 0 no-repeat transparent;
    margin-top: 15px;
    position: absolute;
    right: 0;
}

.ui-activity {
    width: 100%;
}

.ui-activity-img {
    width: 100%;
    margin-bottom: 10px;
}

.ui-activity-box {
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 95%;
    margin: 10px auto;
}

.ui-activity-box h2 {
    font-size: 14px;
    color: #000;
    text-align: left;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 5px 0;
}

.ui-activity-box a {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: inline-block;
    text-align: right;
    padding: 5px 20px;
    background-color: #ef6130;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.ui-activity-more {
    border-top:7px solid #bbda51;
}

/* ui-sub-title */
.ui-sub-title {
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 95%;
    margin: 10px auto;
}

.ui-sub-title h2 {
    font-size: 18px;
    color: #a0ca27;
    text-align: left;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 5px 10px;
}

.ui-sub-title a {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: inline-block;
    text-align: right;
    padding: 5px 10px;
    color: #898989;
    font-size: 18px;
    text-decoration: none;
}

.ui-view-more {
    width: 95%;
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
    background-color: #94c758;
    margin: 20px auto;
}

.ui-view-more a {
    display: block;
    color: #fff;
    text-decoration: none;
}

/* ui-grape-item */
.ui-grape-item {
    width: 95%;
    background-color: #fbfbf1;
    margin: 0 auto 13px;
    padding-bottom: 15px;
}

.ui-grape-item .ui-circle {
    clear: both;
}

.ui-grape-item figure {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    text-align: left;
}

.ui-grape-item .ui-grape-img {
    width: 120px;
    height: 120px;
    padding: 0 10px;
}

.ui-grape-item .ui-grape-text {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    text-align: left;
    word-wrap: break-word;
}

.ui-grape-item h2 {
    font-size: 16px;
    color: #4d932c;
}

.ui-grape-item h4 {
    font-size: 12px;
    color: #929292;
    margin-bottom: 10px;
}

.ui-grape-item p {
    font-size: 12px;
    color: #000;
    line-height: 1.5;
}


.ui-sort,
.ui-master {
    width: 95%;
    margin: 0 auto;
}

.ui-sort{
    padding:10px 0;
}
.ui-master h3 {
    font-size: 18px;
    color: #4d932c;
    text-align: left;
}

.ui-sort-list,
.ui-master-list {
    background-color: #fff;
    padding: 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}

.ui-sort-list li,
.ui-master-list li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.ui-sort-list li {
    font-size:14px;
    line-height: 23px;
}
.ui-sort-list li img{
    padding-right:5px;
}
.ui-master-list li img {
    border-radius: 50;
    width: 50px;
}

.ui-brand {
    max-width: 640px;
    text-align: center;
    margin: 0 auto 26px;
}

.ui-brand img {
    margin-bottom: 20px;
}

.ui-brand p {
    color: #777;
    font-size: 14px;
    line-height: 1.5;

}


.ui-recipe{
    width:95%;
    margin:10px auto;
    display: -webkit-box;
    display: box;
    text-align:left;

}

.ui-recipe .ui-recipe-info{
    -moz-box-flex: 9;
    -webkit-box-flex: 9;
    box-flex: 9;
    padding:10px;
    border:1px solid #9b9b9b;
    border-left:none;
}
.ui-recipe .ui-recipe-img{
    width:130px;
    text-align:right;
}

.ui-recipe .ui-recipe-img img{
    max-width:130px;
    text-align:left;
}

.ui-recipe .ui-recipe-info{
    border-left:none;
    text-align:left;
    color:#9d9d9d;
}

.ui-recipe .ui-recipe-info h3{
    font-size:18px;
    color:#4d932c;
    margin-bottom:5px;
}

.ui-recipe .ui-recipe-info span{
    color:#212121;
    padding-right:3px;
}

.ui-recipe .ui-recipe-dd  img{
    width:40px;
    border-radius: 40px;
}

.ui-recipe-action{
    clear:both;
    padding:18px 0 0 0;
}
.ui-recipe-cc{
    float:left;
    font-size:18px;
}

.ui-recipe-dd{
    float:left;
    margin-left:10px;
}
/* ui-nav-box */


.ui-nav-box {
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 46px;
    display: none;
}

.ui-avatar {
    display: -webkit-box;
    display: box;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

.ui-avatar figure {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.ui-avatar figure img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-bottom: 5px;
}

.ui-avatar figure p {
    font-size: 13px;
    color: #fff;
}

.ui-avatar figure span {
    display: block;
    position: absolute;
    top: 0;
    right: 30%;
    color: #fff;
    background-color: #ef6130;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.ui-search {
    margin-bottom: 5px;
}

.ui-search-box {
    background-color: #9b9b9b;
    width: 180px;
    margin: 0 auto;
    border: 1px solid #9b9b9b;
    border-radius: 5px;
}

.ui-search-box img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.ui-search-box .ui-input {
    border: 1px solid #9b9b9b;
    height: 30px;
    width: 140px;
    padding-left: 10px;
    background-color: #9b9b9b;
    border-radius: 5px;
    color: #fff;
    vertical-align: top;
}

.ui-nav-list li {
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    position: relative;
}

.ui-nav-list li.current {
    background-color: #ef6130;
}

.ui-nav-list li a {
    display: block;
    padding-left: 30px;
    text-decoration: none;
    color: #fff;
}

.ui-nav-list li span {
    padding: 0;
    display: block;
    position: absolute;
    top: 6px;
    left: 90px;
    color: #fff;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background-color: #ef6130;
    font-size: 14px;
    line-height: normal;
    text-align: center;
}

/* ui-footer */
.ui-footer {
    background-color: #4d4d4d;
}

.ui-footer-links {
    padding: 10px 5px;
    text-align: center;
    line-height: 23px;
}

.ui-copyright {
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 16px;
    color: #8f8f8f;
    text-align: center;
    padding: 5px 0 10px 0;
}

.ui-copyright span {
    font-family: "SimSun", arial narrow, helvetica, sans-serif;
}

.ui-footer-links .tmall-link,
.ui-footer-links .wxin-link,
.ui-footer-links .jd-link {
    display: inline-block;
}

.ui-footer-links .tmall-link a,
.ui-footer-links .wxin-link a,
.ui-footer-links .jd-link a {
    display: block;
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}

.ui-footer-links .tmall-link img {
    width: 18px;
    margin-right: 3px;
}

.ui-footer-links .wxin-link img {
    width: 24px;
    margin-right: 3px;
}

.ui-footer-links .jd-link img {
    width: 18px;
    margin-right: 3px;
}

@media screen and (max-width: 320px) {

}