body{
    background-color:#fff;
}
.ui-container {
    margin: 0 auto;
    font-size: 12px;
    font-family: "SimSun", arial narrow, helvetica, sans-serif;
}

header {
    width: 100%;
}

.ui-header {
    border-top: 6px solid #82bf41;
    height: 80px;
    padding: 10px 0;
    display:-moz-box;
    display:-webkit-box;
    display:box;
    width:100%;
}

.ui-header .logo {
    background: url(../images/logo.png) 20px center no-repeat transparent;
    -moz-box-flex:6;
    -webkit-box-flex:6;
    box-flex:6;
    padding:0 10px;
}

.ui-header .ui-search {
    background: url(../images/search.png) 10px center no-repeat transparent;
    -moz-box-flex:2;
    -webkit-box-flex:2;
    box-flex:2;
    padding:0 10px;
}

.ui-header .ui-cart {
    background: url(../images/cart.png) 10px center no-repeat transparent;
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    padding:0 10px;
}

.ui-header .ui-nav {
    background: url(../images/nav.png) 10px center no-repeat transparent;
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
    padding:0 10px;
}

/* ui-banner */
.ui-banner {
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    max-width: 640px;
}

.ui-swipe-new {
    float: left;
    list-style: none outside none;
    overflow: hidden;
    position: relative;
    visibility: visible;
}

.ui-swipe-new .ui-banner-list {
    left: 0;
    position: relative;
    width: 3200px;
}

.ui-swipe-new .ui-banner-list li {
    display: table-cell;
    float: left;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.ui-swipe-new .ui-banner-list li a img {
    display: block;
    width: 100%;
}

.ui-swipe-new .ui-banner-list li a i {
    bottom: 0;
    color: #fff;
    font: 14px/28px "\5fae\8f6f\96c5\9ed1";
    height: 28px;
    left: 0;
    padding-left: 10px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.ui-banner-dot {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
}

.ui-banner-dot a {
    background: none repeat scroll 0 0 #b0b0b0;
    border-radius: 14px;
    display: inline-block;
    height: 14px;
    width: 14px;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
}

.ui-banner-dot a.active {
    background: none repeat scroll 0 0 #000000;
}

/* ui-title */

.ui-title {
    width: 95%;
    height: 40px;
    margin: 13px auto;
    position: relative;
    background-color: #94c758;
}

.ui-title .hr {
    position: absolute;
    width: 90%;
    height: 3px;
    top: 20px;
    left: 5%;
    background-color: #fff;
}

.ui-title .title {
    width: 70%;
    position: absolute;
    left: 10%;
    top: 8px;
    font-size: 18px;
    color: #fff;
    padding: 0 5%;
    text-align: center;
    background-color: #94c758;
}

/* ui-figure */

.ui-figure {
    display:-moz-box;
    display:-webkit-box;
    display:box;
    width:100%;
}

.ui-figure .ui-figure-item {
    border-bottom: 2px solid #b8b8b8;
    -moz-box-flex:1;
    -webkit-box-flex:1;
    box-flex:1;
}


.ui-figure img {
    width:120px;
    height:120px;
}

.ui-figure .figure-text {
    padding: 4px;
    color: #a0ca27;
    font-size: 14px;
    font-family: arial narrow, helvetica, sans-serif;
}

.ui-figure .figure-info {
    padding: 0 0 4px 4px;
    color: #262626;
    font-size: 14px;
}

/* ui-text */

.ui-text-box {
    width: 100%;
    height: 40px;
    position: relative;
}

.ui-text-box .ui-text-dot {
    border-top: 3px dotted #ef6130;
    position: absolute;
    top: 20px;
    left: 25%;
    width: 50%;
}

.ui-text-box .ui-text {
    top: 8px;
    left: 38%;
    background: none repeat scroll 0 0 #fff;
}

.ui-text-box a {
    font-size: 16px;
    color: #ef6130;
    text-decoration: none;
}

/* ui-graphic-item */

.ui-graphic-item {
    width: 95%;
    border-bottom: 1px solid #979797;
    padding: 4px 0 30px 0;
    margin: 0 auto 30px;
    position: relative;

}

.ui-graphic-item img {
    display: block;
    margin-right: 30px;
    float: left;
}

.ui-graphic-item .graphic-text {
    float: left;
    width: 70%;

}

.ui-graphic-item .graphic-text h2 {
    color: #000;
    font-size: 2em;
    padding: 10px 0 18px 0;
}

.ui-graphic-item .graphic-text p {
    font-size: 1.5em;
    color: #888888;
}

.ui-graphic-item span.ui-arrow {
    width: 16px;
    height: 26px;
    display: block;
    background: url(../images/arrow.png) 0 0 no-repeat transparent;
    margin-top: 50px;
    position: absolute;
    right: 0;

}

/* ui-grape-item */

.ui-grape-item {
    width: 95%;
    background-color: #fbfbf1;
    margin: 0 auto 26px;
}

.ui-grape-item .ui-circle {
    height: 64px;
    clear: both;
    background: url(../images/circle.png) 0 center repeat-x transparent;
}

.ui-grape-item figure {
    padding: 0 0 20px 20px;
}

.ui-grape-item img {
    float: left;
    margin-right: 20px;
}

.ui-grape-item .ui-grape-text {
    width: 55%;
    float: left;
}

.ui-grape-item h2 {
    font-size: 2em;
    color: #4d932c;
}

.ui-grape-item h4 {
    font-size: 1.5em;
    color: #929292;
    margin-bottom: 10px;
}

.ui-grape-item p {
    font-size: 2em;
    color: #000;
    line-height: 1.5;
}

.ui-master {
    width: 95%;
    margin: 0 auto;
}

.ui-master h3 {
    font-size: 2em;
    color: #4d932c;
}

.ui-master-list {
    background-color: #fff;
    padding: 20px 0;
}

.ui-master-list li {
    margin: 10px 20px;
    float: left;
}

.ui-master-list li img {
    border-radius: 100;
}

.ui-brand{
    width:95%;
    text-align:center;
    margin-bottom:26px;
    margin: 0 auto 26px;
}
.ui-brand img{
    margin-bottom:20px;
}
.ui-brand p{
    color:#777;
    font-size:1.5em;
    line-height: 1.5;

}

/* ui-footer */

.ui-footer {
    height: 144px;
    background-color: #4d4d4d;
}

.ui-footer-links {
    padding: 26px 38px;
    text-align: center;
}

.ui-copyright {
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 1.5em;
    color: #8f8f8f;
    text-align: center;
}

.ui-copyright span {
    font-family: "SimSun", arial narrow, helvetica, sans-serif;
}

.ui-footer-links .tmall-link,
.ui-footer-links .wxin-link,
.ui-footer-links .jd-link {
    display: inline-block;
}

.ui-footer-links .tmall-link a,
.ui-footer-links .wxin-link a,
.ui-footer-links .jd-link a {
    display: block;
    color: #fff;
    font-size: 2em;
    margin-right: 20px;
    text-decoration: none;
}

.ui-footer-links .tmall-link a {
    padding-left: 46px;
    height: 36px;
    background: url(../images/tmall.png) 0 0 no-repeat transparent;
}

.ui-footer-links .wxin-link a {
    padding-left: 58px;
    height: 39px;
    background: url(../images/wxin.png) 0 0 no-repeat transparent;
}

.ui-footer-links .jd-link a {
    padding-left: 48px;
    height: 38px;
    background: url(../images/jd.png) 0 0 no-repeat transparent;
}


@media screen and (max-width: 320px) {


}