h3 {
    margin: 0px 0 10px 0
}
.ui-link-nav{
    height:30px;
    line-height:30px;
}
.ui-link-nav li{
    float:left;
    display: inline;
    padding:0 20px;
}

/* 代码高亮 */
pre {
    background-color: #002b36;
    border: 1px solid #05232b;
    line-height: 1.45em;
    font-size: 13px;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: #93a1a1;
    overflow: auto;
}

/* TAGS ======================================================== */
.tag_box {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
}

.tag_box li {
    line-height: 1.8em;
    float: left;
    margin-right: 10px;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    border-radius: 3px;
    border: 1px dashed #ccc;
    text-decoration: none;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4C964D;
    color: #FFF;
}

