html {
    overflow: -moz-scrollbars-vertical;
    min-height: 101%
}

a {
    cursor: pointer
}

a:hover {
    text-decoration: none
}

body {
    font: 13px/normal "微软雅黑", Helvetica, Arial, sans-serif;
    color: #666666;
    font-size-adjust: none;
    font-stretch: normal;
    height: 100px;
    min-height: 100px
}

ul li {
    list-style-position: outside;
}

.ui-header {
    padding: 20px 0;
}

.ui-meta {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    float: left;
}

.ui-meta .logo {
    float: left;
    margin: 5px 0 0 20px;
    font-size: 26px;
    text-align: center;
}

.ui-meta .logo a {
    display: block;
    border-radius: 30px;
}

.title {
    color: #74b959;
    background: -webkit-linear-gradient(0deg, #40c1aa, #74b959);
    background: -moz-linear-gradient(0deg, #40c1aa, #74b959);
    background: -o-linear-gradient(0deg, #40c1aa, #74b959);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ui-meta .logo a:hover {
    text-decoration: none
}

.ui-meta .blessing {
    color: #0088cc;
    margin-left: 15px;
    float: left;
}

.ml-15 {
    margin-left: 15px;
}

.ui-global-search .ui-tab-content {
    background-color: #0782c0;
    padding: 5px 3px 5px 5px;
    height: 30px;
}

.ui-meta-left {
    height: 30px;
    margin-right: 5px;
    float: left;
    display: inline;
    position: relative;
}

.ui-meta-right {
    height: 30px;
    float: left;
    display: inline;
    cursor: pointer;
    margin-top: -1px;
}

.ui-arrow {
    width: 0;
    height: 0;
    position: absolute;
    right: 3px;
    top: 14px;
    font-size: 0;
    line-height: 0;
    border-width: 8px;
    border-color: #008800 transparent transparent;
    border-style: solid dashed dashed;
    background-color: transparent;
    -webkit-transition: -webkit-transform .2s ease-in;
    -webkit-backface-visibility: hidden;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in
}

.ui-arrow-hover {
    border-color: transparent transparent #008800;
    border-style: dashed dashed solid;
    background-color: transparent;
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.ui-input-text {
    padding: 5px;
    border: 1px solid #cccccc;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background-color: #ffffff
}

.ui-input-button {
    border: 0;
    outline: 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #eeeeee;
    color: #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 102px;
    height: 30px;
    _padding-top: 4px;
    font-family: "\5FAE\8F6F\96C5\9ED1", arial, helvetica, sans-serif
}

input.ui-input-button:focus {
    border: 0;
    outline: 0
}

.search-menu li {
    position: relative;
    z-index: 999999;
    width: 102px
}

.search-menu .search-more {
    overflow: hidden;
    clear: both;
    line-height: 29px;
    font-size: 14px;
    position: relative
}

.search-menu .search-more-hd {
    border: 1px solid #eeeeee;
    left: 0;
    top: 30px;
    width: 102px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    background-color: #ffffff;
    z-index: 9999;
}

.search-menu .search-more-hd .ui-input-button {
    border: 0 none;
    background-color: #ffffff;
    color: #4d4d4d;
    width: 98px;
    margin-bottom: 0
}

.search-menu .search-more-hd .ui-input-button-hover {
    background-color: #eeeeee;
    color: #2566a0;
    border-radius: 0;
}

.ui-global-search .ui-tab-trigger {
    margin-left: 5px;
    height: 30px
}

.ui-global-search .ui-tab-trigger-item {
    padding-left: 10px;
    line-height: 30px
}

.ui-global-search .ui-tab-trigger-item span {
    padding-right: 10px
}

.ui-global-search .ui-tab-trigger-item-current {
    background-color: #0782c0;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.ui-global-search .ui-tab-trigger-item-current span {
    color: #ffffff
}

.posts-main {
    padding: 0 15px;
}

.posts-main img {
    width: 100%;
    max-width: 100%;
}

.posts-main h1 {
    margin-bottom: 10px;
}

.posts-main p {
    line-height: 1.5;
    margin: 5px 0;
}

.ui-nav-box {
    background-color: #02537e
}

.ui-top-nav {
    background-color: #eee;
    margin-bottom:10px;
}

.ui-home-link {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

.ui-nav li {
    float: left;
    display: inline;
    color: #dcf3ff;
    font-size: 14px;
    cursor: pointer;
    width:60px;
    text-align:center;
}

.navbar-toggler{
    padding:0;
}
.ui-nav li a{
    display:block;
    padding:10px 0;
}
.navbar-nav{
    flex-direction: row;
}
.navbar-nav li a{
    display:block;
    width:60px;
    padding:10px 0;
    text-align:center;
}
.navbar-nav li.active a,
.ui-nav li a.active{
    display:block;
    background-color: #0782c0;
    color: #ffffff;
}

.navbar{
    padding:0;
    width:100%;
}
.ui-nav-item a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px
}

.ui-content .ui-title {
    border-bottom: 3px double #dddddd;
    margin-bottom: 10px;
    padding: 5px 0 5px 10px
}

.ui-content h1 {
    font-size: 16px;
}

.ui-content h2.all-pages {
    border-bottom: 3px double #dddddd;
    margin-bottom: 10px;
    padding: 20px 0 5px 10px;
}

.ui-content .ui-nav-item {
    list-style-type: decimal;
}

.ui-content .ui-title h2 {
    color: #999999;
    font-size: 20px;
    line-height: 18px;
    margin: 3px 0;
    font-weight: normal
}

.ui-content .ui-list {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.ui-content .ui-list .ui-list-item {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: inline;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 5px 10px;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    color: #333333
}

.ui-main {
    width: 800px;
    padding-right: 5px;
    float: left;
    display: inline;
    margin-bottom: -10000px;
    padding-bottom: 10000px
}

.ui-aside {
    float: right;
    display: inline;
    width: 295px;
    border-left: 3px double #dddddd;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    padding-left: 10px
}

.ui-footer {
    background: #303030;
    clear: both;
    margin: 20px 0 0 0;
    width: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 30px;
    padding: 10px 0;
    font-family: Georgia, "Times New Roman", Times, serif
}

.page-header {
    border-left: 3px solid #0e90d2;
    padding: 5px 0 5px 10px;
    font-size: 20px;
    background: #eee;
    color: #0e90d2;
    margin: 0 0 5px 0;
}

h2.archive-year, h2.categories-sort, h2.tags-sort {
    background-color: #f2f8f7;
    color: #777777;
    font-size: 20px;
    line-height: 35px;
    margin: 0 0 10px 0;
    text-align: center;
    font-weight: normal
}

h2.categories-sort, h2.tags-sort {
    padding-left: 10px;
    text-align: left
}

h3.archive-month {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #f2f8f7
}

.categories-article, .tags-article {
    list-style: inside decimal;
    margin-bottom: 10px
}

.categories-article li, .tags-article li {
    font-size: 14px;
    padding: 0 0 2px 10px;
    list-style: outside decimal;
    margin-left:30px;
}

.navbar-toggle .icon-bar,
.bs-docs-nav .navbar-toggle .icon-bar {
    border: 1px solid #0e90d2;
}

.archive-list {
    margin: 5px 10px 15px 10px
}

.archive-list-item {
    margin: 5px 0;
    list-style: inside decimal;
    font-size: 14px
}

.page-header h3, .page-header h4 {
    color: #0e90d2;
    margin-bottom: 0;
}

.ui-nav-pills li {
    float: left;
    line-height: 30px;
    padding: 0 10px;
}

.ui-nav-pills .active,
.ui-nav-item-current {
    background-color: #0e90d2;
}

.ui-nav-pills .active a,
.ui-nav-item-current a {
    color: #fff;
}

.dsq-widget-comment p {
    height: 18px;
    overflow: hidden;
    display: block
}

.post {
    font-size: 16px
}

.search-box {
    margin: 0 0 10px 0;
}

.search-input-text {
    width: 60%;
    padding-left: 5px;
    height: 30px;
    margin-right: 5%;
    border: 1px solid #ccc;
}

.search-input-button {
    width: 30%;
    padding: 0 2%;
    height: 26px;
    line-height: 18px;
    border: 0;
    outline: 0;
    background: #0e90d2;
    color: #fff;
    float: right;
    margin-top: 2px;
}

.search-inner {
    padding: 0 0 10px 0;
}

.dsq-widget {
    margin-top: 10px;
}

h2.tags-sort-title {
    margin-top: 10px;
    background-color: #0088cc;
    color: #ffffff;
}

h3 {
    margin: 0 0 10px 0
}

.ui-link-nav {
    height: 30px;
    line-height: 30px;
}

.ui-link-nav li {
    float: left;
    display: inline;
    padding: 0 20px;
}

/* 代码高亮 */
pre {
    background-color: #002b36;
    border: 1px solid #05232b;
    line-height: 1.45em;
    font-size: 13px;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: #93a1a1;
    overflow: auto;
}

.tag_box {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
}

.tag_box li {
    line-height: 1.8em;
    float: left;
    margin-right: 10px;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eeeeee;
    border-radius: 3px;
    border: 1px dashed #cccccc;
    text-decoration: none;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tag_box a.active {
    background: #57a957;
    border: 1px solid #4c964d;
    color: #ffffff;
}

.map-pages,
.map-posts {
    margin-bottom: 20px;
    margin-left: 20px;
}

.map-pages-title,
.map-posts-title {
    border-bottom: 3px double #dddddd;
    margin-bottom: 10px;
    padding: 0 0 5px 10px
}

.recent-posts {
    margin-left: 35px;
}

.recent-posts .post {
    list-style-type: decimal;
}

.post-item {
    margin-bottom: 20px;
}

.post-list h4 {
    border-left: 3px solid #0e90d2;
    padding: 5px 0 5px 10px;
    font-size: 20px;
    background: #eee;
}

.post-list .thumb p {
    color: #333333;
    font-weight: normal;
    text-indent: 2em;
    line-height: 1.5;
    padding: 10px;
}

.post-list .thumb-footer {
    background-color: #eee;
    line-height: 30px;
    padding: 0 10px;
}

.post-list .thumb-label {
    color: #333;
    float: left;
}

.post-list .thumb-link {
    color: #0e90d2;
    display: block;
    float: right;
}

.post-list .pagination {
    float: right;
    margin: 0 0 20px 0;
}

.pagination ul li {
    list-style: none;
    float: left;
    padding: 0 10px;
}

.published {
    margin: 10px 0;
    padding: 5px;
    text-align: right;
    width: 100%;
    background-color: #eee;
}

.padding-inner {
    font-size: 16px;
}

.padding-inner ul {
    margin-left: 35px;
}

.padding-inner ul li {
    list-style: outside decimal;
}
